header {
  background-color: #aead73;
  color: #ffffff;
  padding: 16px;
  text-align: center;
}

#PleasedChefLogo {
  display: block;
  margin-right: auto;
  width: 200px;
}

main {
  background-color: #ffffff;
  max-width: 1000px;
  padding: 35px;
  margin: 40px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main #PleasedChefLogo {
  display: block;
  margin: auto;
}

body {
  background-color: beige;
}

#SummerPancakesImage {
  display: block;
  margin: auto;
  padding: 15px;
  width: 300px;
}

.RecipeDescription {
  background-color: #f7f4f4;
  width: auto;
  text-align: center;
  padding: 50px;
}

.recipe {
  background-color: #f1f1f1;
  width: 50%;
  padding: 15px;
  margin: 45px auto;
}

.recipe ul,
.recipe ol {
  display: inline-block;
  text-align: left;
}

.recipe h4,
.recipe h3 {
  text-align: center;
}
